*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

input,
button {
  font-size: 16px;
}

/* Header */
header {
  display: inline;
  text-align: center;
}

.jumbotron {
  font-size: 20px;
  padding: 30px;
  text-align: center;
  color: white;
  background-color: #ff9900;
}

nav {
  top: 0;
  padding: 5px;
  position: sticky;
  background-color: #181d31;
}

nav a {
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  color: white;
}

nav a:hover {
  color: #ff9900;
}

nav li {
  display: inline;
  list-style-type: none;
  margin-right: 20px;
}

/* main */
main {
  max-width: 800px;
  width: 80%;
  margin: 0 auto;
  padding: 16px;
}

.input_section {
  display: flex;
  flex-direction: column;
  padding: 16px;
  border: 1px solid black;
  border-radius: 10px;
}

.input_section > h2 {
  text-align: center;
  color: #ff9900;
}

.input_section > form > .input {
  margin: 8px 0;
}

.input_section > form > button {
  background-color: #ff9900;
  color: white;
  border: 0;
  border-radius: 5px;
  display: block;
  width: 100%;
  padding: 8px;
  cursor: pointer;
}

.input_section > form > button > span {
  font-weight: bold;
}

.input_section > form > .input > input {
  display: block;
  width: 100%;
  padding: 8px;
  border-radius: 5px;
}

.input_section > form > .input > label {
  color: #ff9900;
  font-weight: bold;
}

.input_section > form > .input_inline {
  margin: 12px 0;
  display: flex;
  align-items: center;
}

.input_section > form > .input_inline > label {
  color: #ff9900;
  font-weight: bold;
  margin-right: 10px;
}

.search_section {
  margin: 16px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  border: 1px solid black;
  border-radius: 10px;
}

.search_section > h2 {
  color: #ff9900;
}

.search_section > form {
  padding: 16px;
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr 0.5fr;
  grid-gap: 10px;
}

.search_section > form > label {
  display: flex;
  align-items: center;
}

.search_section > form > input {
  padding: 5px;
  border-radius: 5px;
}

.search_section > form > button {
  background-color: #ff9900;
  color: white;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}

/* shelf */
.book_shelf {
  margin: 16px 0 0 0;
  border: 1px solid black;
  padding: 16px;
  border-radius: 10px;
}

.book_shelf > h2 {
  color: #ff9900;
}

.book_shelf > .book_list {
  padding: 16px;
}

.book_shelf > .book_list > .book_item {
  padding: 8px 16px 16px 16px;
  border: 1px solid black;
  border-radius: 5px;
  margin: 10px 0;
}

.book_shelf > .book_list > .book_item > h3,
p {
  margin: 8px 0;
}

.book_shelf > .book_list > .book_item > .action > button {
  border: 0;
  padding: 5px;
  margin: 0 5px 0 0;
  border-radius: 5px;
  cursor: pointer;
}

.book_shelf > .book_list > .book_item > .action > .primary {
  background-color: #0d6efd;
  color: white;
}

.book_shelf > .book_list > .book_item > .action > .success {
  background-color: #198754;
  color: white;
}

.book_shelf > .book_list > .book_item > .action > .warning {
  background-color: #ffc107;
  color: white;
}

.book_shelf > .book_list > .book_item > .action > .danger {
  background-color: #dc3545;
  color: white;
}

/* Footer */
footer {
  padding: 10px;
  color: white;
  background-color: #181d31;
  text-align: center;
}

footer p {
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  color: white;
}

footer p a {
  text-decoration: none;
}

footer p a:hover {
  color: #ff9900;
}
